name: Upload Python Package

on:
  push:
    branches: [ main ]
    paths:
      - 'setup.py'
  workflow_dispatch:

jobs:
  pypi:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: python -m pip install -U build
    
    - name: Build
      run: python -m build
    
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
